* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 #seo {
    color: #d9dcd6;
}

header ul {
    padding-top: 20px;
    list-style-type: none;
    float: right;
    }

header li {
    display: inline-block;
    margin-left: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.hero {
/* I changed the hero image to an <img> element, and applied the hero class stylings to it. I did this to ensure that the image would have alt text that could be read by screen readers. It did not seem like there was an easy (if even possible) way to apply alt text to images that are treated as background images? In my opinion, a main image SHOULD NOT be formatted as if it were background content. It's visual content, not a mood-setting canvas element. */

    width: 100%;
    margin-bottom: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* With the .main-services class, I've combined what previously consisted of three classes (search-engine-optimization, online-reputation-management, social-media-marketing) that had identical attributes.
*/

.main-services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* The main-services img tag consolidates the img properties from the aforementioned three classes that were replaced by a singular main-services class.
*/

.main-services img {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* The main-services h2 tag consolidates the h2 properties from the aforementioned three classes that were replaced by a singular main-services class.
*/

.main-services h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* With the .benefit-individual class, I've combined what previously consisted of three individual styles (benefit-lead, benefit-brand, benefit-cost) that had identical attributes. I've done the same with the h3 and img styles. I've adjusted the h3 size to 24px to help the headings stand out.
*/

.benefit-individual {
    margin-bottom: 50px;
    color: #ffffff;
}

.benefit-individual h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
}

.benefit-individual img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
    font-size: 20px;
}
